# Git ignore file for a Java project using Gradle
**/.env
**/.env.local

# Gradle
**/build/
**/.gradle/
**/bin/
**/out/

# Logs
**/logs/
*.log

# SSL Key
**/keystore.p12

# Files
**/.DS_Store
Thumbs.db

# IDE
.idea/
*.iml
.vscode/